.gallery {
  margin-left: auto;
  margin-right: auto;
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
}

.gallery-item {
  list-style: none;
}

.gallery-link {
  display: block;
  position: relative;
  width: 360px;
  height: 200px;
}

.gallery-image {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: transform 250ms ease-in-out;
}

.gallery-image:hover {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.04);
  cursor: zoom-in;
}
